<router-outlet></router-outlet>
<!-- 
  1.add children routes in app.routing.module.ts;
  2.create router-outlet in children routes' parent component 
                      if(router-outlet is in our written 
                      module's inside component like this)
                      {add RouterModule in our.module.ts};
  3.navigate width "path" without "../";
 -->
 
 <!-- 
 1.routerlink-it gagzavna paramebis da bindingi routerlinkis
 2.router-shi childrenebi da 2 router-outletis tema(zemo agnishvna)
 3.snapshot-is tavisebureba ngoninit ze 
 4.observables version to get data with routing parameters 
                         da ngOnDestroy-is sajiroeba
 5.differences between observables and snapshoot
                        da subscription-is sajiroeba
 6.servies connection with router parameters' code
 7.services methods' separation
 8.github uploading
 9.recap

 -->